#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp KP_NUMLOCK    &kp TAB    &kp BACKSPACE    
                &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_MINUS
                &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp FSLH     
                &kp KP_N1    &kp KP_N2    &kp KP_N3   
                &kp KP_N0    &kp KP_DOT    &kp KP_ENTER
            >;
        };
    };
};